body
{
    height: 100%;
    overflow-y: hidden;
}

textarea
{
    width: 98%;
}

/*.content form div div table
{
    table-layout:fixed;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
}

.content form div div table tbody tr td
{    
    overflow: hidden;
    word-break:break-all;
    table-layout:fixed;
    white-space: pre-wrap;    
    word-break: break-all;
    white-space: normal;
    border-collapse: collapse;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
}*/

.custom-form-table div table
{
    /*table-layout:fixed;*/
    border-collapse: collapse;
    /*text-align: center;*/
    width: 100%;
    border-collapse: collapse;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
}
.custom-form-table div table tbody tr td
{    
    overflow: hidden;
    word-break:break-all;
    /*table-layout:fixed;*/
    white-space: pre-wrap;    
    word-break: break-all;
    white-space: normal;
    border-collapse: collapse;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
}

.custom-form-table div table thead tr th
{    
    overflow: hidden;
    word-break:break-all;
    /*table-layout:fixed;*/
    white-space: pre-wrap;    
    word-break: break-all;
    white-space: normal;
    border-collapse: collapse;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
}

.title-header span
{
    margin-left: 38%;
}
.font-bold
{
    font-weight: bold;  
}